<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content">
    <div class="sticky top-0 z-30 flex h-16 w-full justify-center backdrop-blur transition-all duration-100
  bg-base-300 text-base-content">
      <nav class="navbar w-full">
        <div class="flex flex-1 md:gap-1 lg:gap-2">
            <span class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]" data-tip="Menu">
              <label for="my-drawer-2" class="btn btn-square btn-ghost drawer-button lg:hidden">
                <svg width="20"
                     height="20"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     class="inline-block h-5 w-5 stroke-current md:h-6 md:w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
              </label>
            </span>
        </div>
        <div class="flex-none">
          <ng-container *ngIf="isAuth()">
            <div class="dropdown dropdown-end mx-3">
              <div class="indicator">
                <label tabindex="0" class="btn">
                    <span class="indicator-item indicator-bottom indicator-start badge badge-primary">{{getSize()}}</span>
                  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M4.78571 5H18.2251C19.5903 5 20.5542 6.33739 20.1225 7.63246L18.4558 12.6325C18.1836 13.4491 17.4193 14 16.5585 14H6.07142M4.78571 5L4.74531 4.71716C4.60455 3.73186 3.76071 3 2.76541 3H2M4.78571 5L6.07142 14M6.07142 14L6.25469 15.2828C6.39545 16.2681 7.23929 17 8.23459 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM11 19C11 20.1046 10.1046 21 9 21C7.89543 21 7 20.1046 7 19C7 17.8954 7.89543 17 9 17C10.1046 17 11 17.8954 11 19Z"
                        stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </svg>
                </label>
              </div>
              <div class="dropdown-content flex flex-col mt-3 p-2 shadow bg-base-300 rounded-box min-w-max w-full">
                <ng-container *ngIf="(cart$ | async) as state" [ngSwitch]="state.appState">
                  <ng-container *ngSwitchCase="'APP_LOADING'">
                    <div class="flex justify-center items-center py-10">
                      <span class="loading text-primary loading-dots loading-lg"></span>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'APP_LOADED'">
                    <ng-container [ngSwitch]="state.appData.length">
                      <ng-container *ngSwitchDefault>
                        <div class="overflow-y-auto max-h-72 max-w-full">
                          <div *ngFor="let position of state.appData" class="card card-side bg-base-200 m-5">
                            <figure><img
                              [src]="'http://localhost:8081/api/v1/products/public/images/' + position.product.imagesIds[0]"
                              alt="Movie"
                              style="height: 120px; width: 120px"/></figure>
                            <div class="card-body">
                              <h2 class="card-title">
                                <a
                                  class="link link-hover text-xl"
                                  [routerLink]="['/products/details', position.product.id]">{{position.product.productType}} {{position.product.productProducer}} {{position.product.tittle}}</a>
                              </h2>
                              <div class="text-xl text-white">Цена: <span
                                class="text-white btn btn-outline">{{position.product.price | number}} руб.</span></div>
                              <div class="card-actions justify-end">
                                <button class="btn btn-primary" (click)="removeFromCart(position.product.id)">Убрать
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="flex justify-end items-end">
                          <button class="btn btn-primary m-2" routerLink="/cart">К корзине</button>
                          <button class="btn btn-primary m-2" (click)="clearCart()">Очистить корзину</button>
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="0">
                        <div class="flex justify-center items-center m-10">тут пусто</div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <div class="dropdown dropdown-end mx-3">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1684761833~exp=1684762433~hmac=ab615933a6749e5fb4871c74d532cf0c37e1b094fd70d046316dba0355ec5d87"
                  alt="image"/>
              </div>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52">
              <ng-container *ngIf="isAuth()">
                <li>
                  <a class="justify-between" routerLink="profile">
                    Профиль
                    <span class="badge">New</span>
                  </a>
                </li>
                <li><a routerLink="/orders">Заказы</a></li>
                <li><a (click)="logout()">Выйти</a></li>
              </ng-container>
              <ng-container *ngIf="!isAuth()">
                <li><a (click)="login()">Войти</a></li>
                <li><a>Регистрация</a></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="drawer-side z-50" style="scroll-behavior: smooth; scroll-padding-top: 5rem;">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <aside class="bg-base-200 w-80 h-full">
      <div
        class="z-20 bg-base-300 bg-opacity-90 backdrop-blur sticky top-0 items-center gap-2 px-4 py-2 hidden lg:flex shadow-sm">
        <a class="flex-0 btn btn-ghost px-2">
          <div class="text-base-content inline-flex text-lg transition-all duration-200 md:text-3xl">
            <span class="text-primary">М<span class="lowercase">ага</span></span>з<span
            class="lowercase">ин</span>
          </div>
        </a>
      </div>
      <ul class="menu flex flex-col p-0 px-4 bg-base-200 text-base-content sidebar" style="margin-top: 10px">
        <!-- Sidebar content here -->
        <li><a routerLink="/" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}">Главная</a></li>
      </ul>
      <ng-container *ngIf="isAuth()">
        <ng-container *ngIf="isAdmin()">
          <ul class="menu flex flex-col p-0 px-4 bg-base-200 text-base-content sidebar">
            <!-- Sidebar content here -->
            <li></li>
            <li class="menu-title" style="margin-bottom: 10px">Администратор</li>
            <li><a routerLink="/products/new" routerLinkActive="active">Добавить новый продукт</a></li>
            <li><a routerLink="/admin/orders">Менеджер заказов</a></li>
          </ul>
        </ng-container>
      </ng-container>
      <ul class="menu flex flex-col p-0 px-4 bg-base-200 text-base-content sidebar">
        <!-- Sidebar content here -->
        <li></li>
        <li class="menu-title" style="margin-bottom: 10px">Каталог</li>
        <ng-container *ngIf="(productTypes$ | async) as state" [ngSwitch]="state.appState">
          <ng-container *ngSwitchCase="'APP_LOADING'">
            <div class="flex justify-center items-center py-10">
              <span class="loading text-primary loading-dots loading-lg"></span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'APP_LOADED'">
            <li><a routerLinkActive="active" routerLink="/products" [routerLinkActiveOptions]="{exact:true}">Все
              товары</a></li>
            <li *ngFor="let type of state.appData"><a routerLinkActive="active"
                                                      [routerLink]="['/products', type.tp | lowercase]">{{type.name}}</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </aside>
  </div>
</div>
